{
  "env": {
    "es6": "true",
    "jest": "true",
    "node": "true"
  },
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": "true"
    },
    "sourceType": "module"
  },
  "plugins": ["import", "jest", "prettier", "react", "react-hooks"],
  "rules": {
    "import/newline-after-import": 2,
    "import/no-cycle": 2,
    "import/order": [
      1,
      {
        "groups": [
          "builtin",
          "external",
          ["internal", "parent", "sibling"],
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/prop-types": [0],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}